// FONTS
$font-montserrat: 'Montserrat',sans-serif;
$font-roboto: Roboto, sans-serif;
$font-Kaushan: 'Kaushan Script', sans-serif;
$size-content: 16;

// COLORS
$primary-black: #333333;
$primary-grey: #999999;
$primary-white: #ffffff;
$primary-color-btn: #95e1d3;
$accent-lt-orange: #fce38a;
$accent-lt-red: #f38181;
$accent-lt-grey: #e5e5e5;
