
.footer.container {
  @include flex-aligning();
  min-height: 62px;
  border-top: 1px solid $accent-lt-grey;

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: sizeRem(20);
  }
}